@page
@model CreateProductModel

<form method="post" enctype="multipart/form-data" class="form-create-product">
    <div class="form-group">
        <label asp-for="PageModel.Item.FormFiles" class="drop-container" id="dropcontainer">
            <span class="drop-title">Drop files here</span>
            or
            <input asp-for="PageModel.Item.FormFiles" type="file" multiple accept="image/jpeg, image/png, image/gif, image/bmp, image/tiff, image/svg+xml, image/x-icon" id="fileInput">
        </label>
        <span asp-validation-for="PageModel.Item.FormFiles" class="text-danger"></span>
    </div>
    <div class="container-uploaded-img" id="divForUploadImages"></div>
    <div class="form-group">
        <label asp-for="PageModel.Item.Name" class="control-label"></label>
        <input asp-for="PageModel.Item.Name" class="form-control" />
        <span asp-validation-for="PageModel.Item.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PageModel.Item.Description" class="control-label"></label>
        <textarea asp-for="PageModel.Item.Description" class="form-control"></textarea>
        <span asp-validation-for="PageModel.Item.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PageModel.Item.Price" class="control-label"></label>
        <input asp-for="PageModel.Item.Price" class="form-control" />
        <span asp-validation-for="PageModel.Item.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PageModel.Item.TypeId" class="form-label"></label>
        <select asp-for="PageModel.Item.TypeId" class="form-control" asp-items="@Model.PageModel.Types">
            <option value=""></option>
        </select>
        <span asp-validation-for="PageModel.Item.TypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PageModel.Item.SizeId" class="control-label"></label>
        <select asp-for="PageModel.Item.SizeId" class="form-control" asp-items="@Model.PageModel.Sizes">
            <option value=""></option>
        </select>
        <span asp-validation-for="PageModel.Item.SizeId" class="text-danger"></span>
    </div>
    <div>
        <button id="create-product" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
<script>
    let fileInput = document.getElementById('fileInput');
    let divForImg = document.getElementById('divForUploadImages');

    window.addEventListener('pageshow', function() {
        divForImg.innerHTML = "";
        file.addFormFileImages(fileInput, divForImg);
    });

    document.getElementById('fileInput').onchange = function () {
        divForImg.innerHTML = "";
        file.addFormFileImages(fileInput, divForImg);
    };

</script>