html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.login {
    display: flex;
    justify-content: center;

    div {
        section {
            #external-account {
                display: flex;
                justify-content: center;
            }

            form {
                h2 {
                    display: block;
                    font-size: 39px;
                    text-align: center;
                    font-weight: 800;
                }

                .list-group {
                    display: flex;
                    align-items: center;

                    a {
                        border: 1px solid grey;
                        border-radius: 3px;
                        padding: 5px 10px 5px 10px;
                        background-color: white;
                        text-decoration: none;
                        color: black;
                        margin-bottom: 16px;
                        &:hover {
                            background-color: aliceblue;
                        }
                    }
                }

                .login-additional {
                    display: flex;
                    justify-content: center;
                    margin: 20px 0px 20px 0px;
                    font-size: 19px;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
}
.oauth-btn {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: white;

    &:hover {
        background-color: aliceblue;
    }
}