html {
  font-size: 14px;
}

label {
  white-space: nowrap;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F2F4F5;
}

header {
  background: linear-gradient(to top, yellow 50%, blue 50%);
}

.login {
  display: flex;
  justify-content: center;
}
.login div section #external-account {
  display: flex;
  justify-content: center;
}
.login div section form h2 {
  display: block;
  font-size: 39px;
  text-align: center;
  font-weight: 800;
}
.login div section form .list-group {
  display: flex;
  align-items: center;
}
.login div section form .list-group a {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  margin-bottom: 16px;
}
.login div section form .list-group a:hover {
  background-color: aliceblue;
}
.login div section form .login-additional {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  font-size: 19px;
  text-align: center;
  font-weight: 600;
}

.oauth-btn {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  background-color: white;
}
.oauth-btn:hover {
  background-color: aliceblue;
}

#divForUploadImages {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1%;
}

.form-file-image {
  display: block;
  border-radius: 30px;
  padding: 4px;
  background-color: aliceblue;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.product-item {
  margin: 10px 0px;
  display: block;
  padding: 12px 16px;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
}
.product-item .main-info {
  display: flex;
}
.product-item .main-info .status {
  display: grid;
  align-items: center;
}
.product-item .main-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item .main-info .info .price {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-item .main-info .info .price .discount {
  display: grid;
}
.product-item .main-info .info .price .discount .old-price-label {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: grey;
}
.product-item .main-info .info .price .discount .valid-price-label {
  font-size: 24px;
  font-weight: 500;
  color: red;
}
.product-item .main-info .info .price .price-without-discount {
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.product-item div[class^=additional-info_] {
  display: none;
}
.product-item div[class^=additional-info_] label {
  margin: 5px 0px;
}
.product-item div[class^=additional-info_] .actions {
  display: flex;
  gap: 10px;
}

.account-navigation {
  margin-bottom: 15px;
}

.form-create-product {
  gap: 10px;
  display: grid;
}

@media (max-width: 2560px) {
  .main-info .status {
    width: 50%;
  }
  .main-info .info {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .main-info .status {
    width: 25%;
  }
  .main-info .info {
    width: 75%;
  }
}
@media (max-width: 991px) {
  .main-info .status {
    width: 15%;
  }
  .main-info .info {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .main-info .status {
    width: 25%;
  }
  .main-info .info {
    width: 75%;
  }
}
@media (max-width: 575px) {
  .main-info .status {
    width: 10%;
  }
  .main-info .info {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .main-info .status {
    width: 10%;
  }
  .main-info .info {
    width: 90%;
  }
}
.main-page-container .home-items-container {
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.main-page-container .home-items-container .home-item {
  border-radius: 5px;
  display: block;
  background-color: white;
}
.main-page-container .home-items-container .home-item .home-item-container {
  padding: 10px;
  display: flex;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-img-container {
  width: 150px;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-info-container .home-item-info {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-info-container .home-item-info .home-item-name {
  font-size: 20px;
  font-weight: 400;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-info-container .home-item-info .home-item-price {
  font-size: 16px;
  font-weight: 700;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-info-container .home-item-additional-info {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.main-page-container .home-items-container .home-item .home-item-container .home-item-info-container .home-item-additional-info .home-item-additional-info-item {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: #F2F4F5;
  height: min-content;
  width: min-content;
}

.pager {
  margin-bottom: 1rem !important;
}

.pager-item--navigable.is-disabled {
  pointer-events: none;
}

.nav-site .nav-item a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  margin: 0px 10px;
}
.nav-site .nav-item a:hover {
  color: white !important;
}

.nav-site-logout {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.nav-site-logout:hover {
  color: white !important;
}

.border-none {
  border: none !important;
}
