@model Web.ViewModels.ClothingItemPageViewModel

<div class="home-item">
    <div class="home-item-container">
        <div class="home-item-img-container">
            <img class="home-item-img" id="itemHomeMainPhoto" src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" width="150" height="180"/>
        </div>
        <div class="home-item-info-container">
            <div class="home-item-info">
                <label class="home-item-name">
                    @Model.Name
                </label>
                <label class="home-item-price">
                    @Model.Price $
                </label>
            </div>
            <div class="home-item-additional-info">
                <label class="home-item-additional-info-item">
                    @Model.SizeName
                </label>
            </div>
        </div>
    </div>
</div>
